/* PT Sans */
/* En esta region incluyo todas las fuentes que voy a utilizar, en este caso PT Sans normal y bold*/
/* Cabe destacar que Microsoft Sans Serif no la he podido conseguir porque me falta la licencia, en sustitución he usado Arial (Tienen un gran parrecido)*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    font-family: 'PT Sans', 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: white;
}

label {
    color: var(--black-color);
}

/*------------- CLASES GENERICAS --------------*/

:root {

    --black-color: rgb( 0, 0, 0);
    --white-color: rgb( 220, 220, 220);

    --dark-blue-main: rgb(51,51,51);
    --dark-orange-main: rgb(225, 82, 61) ;

    --dark-blue-main-transparente: rgba( 51, 51, 51, 0.5 );
    --dark-orange-main-transparente: rgba( 225, 82, 61, 0.5 );
}

    /* Esta clase la utilizo para aplicar PT-Sans en cualquier elemento añadiendola */
.pt-sans{
    font-family: 'PT Sans' !important;
}

    /* Con estas 2 clases hago flotar los elementos en ambos lados, se ha utilizado para estructurar toda la página*/
.float-right{
    float: right;
}

.float-left{
    float: left;
}


    /* Clases para aplicar rotacion a los elementos */
.rotation-1-deg-right{
    transform: rotate(-1deg);
}

.rotation-2-deg-right{
    transform: rotate(-2deg);
}

.rotation-3-deg-right{
    transform: rotate(-3deg);
}

.rotation-1-deg-left{
    transform: rotate(1deg);
}

.rotation-2-deg-left{
    transform: rotate(2deg);
}

.rotation-3-deg-left{
    transform: rotate(3deg);
}

    /* Clases genericas de margenes para aplicar a los elementos */
.m-right-5{
    margin-right: 5px;
}

.m-top-10{
    margin-top: 10px;
}

.m-top-20{
    margin-top: 20px;
}

.m-top-30{
    margin-top: 30px;
}

.m-bottom-10{
    margin-bottom: 10px;
}

.m-bottom-20{
    margin-bottom: 20px;
}

.m-bottom-30{
    margin-bottom: 30px;
}

.m-right-10{
    margin-right: 10px;
}

.full-width{
    width:100%;
}

.row{
    display: flex;
}

.input-generic{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

    /* Debido a los diversos display-flex que he hecho he decidido crear una clase generica */
.display-flex{
    display: flex;
}

    /* Clases con los colores de fondo para los post-it debido a que son comunes entre varios las he separado */
.bg-pink{
    background-image: linear-gradient(to top,#ffdad4 95%, #fdfdfd);
    /*background-color: #ffdad4;*/
}

.bg-green{
    background-image: linear-gradient(to top,#deefab 95%, #fdfdfd);
    /*background-color: #deefab;*/
}

.bg-yellow{
    background-image: linear-gradient(to top,#fefcc3 95%, #fdfdfd);
    /*background-color: #fefcc3;*/
}

.bg-blue{
    background-image: linear-gradient(to top,#99dbe7 95%, #fdfdfd);
    /*background-color: #99dbe7;*/
}

.bg-identica{
    background-image: linear-gradient(to top,#7db4c9 95%, #fdfdfd);
    /*background-color: #7db4c9;*/
}

.bg-twitter{
    background-image: linear-gradient(to top,#00bcff 95%, #fdfdfd);
    /*background-color: #00bcff;*/
}

.generic-shadow{
    box-shadow: 5px 5px 10px 0px rgb(0,0,0);
}

    /* Sobrescritura de elementos genericos de HTML*/
body{
    /* width: 1200px; */
    margin: 0;
    margin: auto;
    background-color: var(--dark-blue-main);
}

.black-font-color{
    color: var(--black-color);
}

a {
    color: var(--white-color);
    text-decoration: none;
}

a:hover {
    color: var(--white-color);
    text-decoration: none;
}

a:visited {
    color: var(--white-color);
    text-decoration: none;
}

/*------------- CLASES GENERICAS --------------*/

/*------------- HEADER ---------------*/

header{
    position: fixed;
    top: 0;
    height: 5.5rem;
    width: 100%;
    z-index: 1;
}

.nav-principal{
    background-color: var(--dark-blue-main);
    padding: 0.5rem;
    display: flex;
}

.logo-gym{
    width: 10%;
}

.logo-gym > img{
    width: 110px;
}

.nav-main-list{
    display: flex;
    list-style: none;
    width: 80%;
    padding: 0;
}

.nav-main-list > li{
    position: relative;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'PT Sans';
    border-radius: 0.4rem;
    padding: 0.4rem;
    
}

.nav-main-list > li:hover{
    background-color: var(--dark-orange-main-transparente);
}

.nav-main-list > li:hover .nav-unfold-list{
    display: block;
    background-color: var(--dark-orange-main);
}

.nav-unfold-list{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0rem;
    width: 10.3rem;
    border-bottom-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    position: absolute;
}

.nav-unfold-list > li{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--dark-blue-main-transparente);
}

.nav-unfold-list > li:hover{
    background-color: var(--dark-orange-main-transparente);
}

.login{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.login-imagen {
    margin-top: 0.4rem;
}

.login-imagen > img{
    width: 20px;
}

.login-button{
    background-color: var(--dark-orange-main);
    padding: 0.5rem;
}

/*------------- HEADER ---------------*/

/*------------- SECTION ---------------*/

.aside-menu{
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 1;
}

.aside-button{
    color: var(--white-color);
    background-color: var(--dark-orange-main);
    width: 3rem;
    height: 3rem;
    padding-left: 0.8rem;
    margin: auto;
    margin-right: 0.5rem;
    border-radius: 50%;
    font-size: 2rem;
}

.aside-content{
    background-color: var(--white-color);
    padding: 2rem;
    color: var(--black-color);
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.aside-content > h2{
    color: var(--dark-orange-main);
}

.home-gym-banner{
    background-color: var(--dark-blue-main);
    padding: 1.5rem 0rem;
    margin-top: 6rem;
    overflow: hidden;
}

.home-gym-banner-wrapper-img{
    box-shadow: 10px 0px 10px 1px rgb(0,0,0);
    transform: rotate(-2deg);

    height: 22rem;
    overflow: hidden;
    width: 120%;
    margin-left: -2rem;
}


.home-gym-banner-img{
    background-image: url(../img/gym-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 150%;
    transform: rotate(2deg);
    margin-top: -4rem;
}

.article-introduccion {
    padding: 0rem 1.5rem;
    text-align: center;
}

.article-introduccion > h1{
    color: var(--dark-orange-main);
    font-size: 2.4rem;
}

.article-introduccion > p{
    font-size: 1.2rem;
}

.inscribe-section{
    text-align: center;
    padding: 0rem 1.5rem;
}

.inscribe-section > h1{
    color: var(--dark-orange-main);
    font-size: 2.4rem;
}

.subscription-wrapper{
    justify-content: center;
}

.subscription-card{
    padding: 1rem;
    background-color: var(--white-color);
    color: black;
    width: 20rem;
    margin: 1rem 4rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 0px rgb(0,0,0);
}

.subscription-card-title{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'PT Sans';    
}

.subscription-card-content{
    padding: 3rem 1rem;
    font-size: 3rem;
    color: var(--black-color);
}

.subscription-card-button{
    padding: 0.4rem;
}

.subscription-card-button > button{
    color: var(--white-color);
    background-color: var(--dark-orange-main);
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
}


.galery-section{
    text-align: center;
    padding: 0rem 1.5rem;
}

.galery-section > h1{
    color: var(--dark-orange-main);
    font-size: 2.4rem;
}

.galery-image{
    position: relative;
    overflow: hidden;
}

.galery-image-overlay{
    background-color: rgba( 0, 0, 0, 0.5 );
    position: absolute;
    /*width: 100%;*/
    height: 100%;
    padding: 8rem;
    margin-right: 0.5rem;
    display: none;
}
.galery-image:hover > .galery-image-overlay{
    display: block;
}
.galery-image-overlay-texto{
    font-size: 1.5rem;
    font-weight: bold;
}

.galery-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 6rem;
}

.galery-image{
    padding: 0rem 0.5rem;
    height: 20rem;
    width: 33%;
}


.galery-image-background{
    height: 100%;
    width: 100%;
    background-image: url('../img/galeria/galeria1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.javascript-container{

}

/*------------- SECTION ---------------*/

/*------------- FOOTER ---------------*/

/* Defino el color de fondo del footer */
.footer-info-wrapper{
    background-color: var(--dark-orange-main);
}


    /* Estilos para los ul y li asi como el texto del creative comonos, los utilizo para formato de texto y posicionamiento de las imágenes */
.footer-ul{
    list-style: none;
}

.footer-ul > li{
    margin-bottom: 0.2rem;
    color: white;
}

.footer-ul > li > img{
    margin-right: 1rem;
}

.footer-margin-rss{
    margin-left: 2.2rem;
}

.footer-rss-right > ul{
    position: relative;
}

.footer-cc{
    text-align: right;
}

.footer-cc > p > a{
    color: white;
}

.footer-cc > p > a:visited{
    color: white;
}

#mzilla-logo{
    position: absolute;
    left: 0.4rem;
    width: 30px;
    top: -3px;
}

/*------------- FOOTER ---------------*/







