@media print {

    * {
        font-family: 'PT Sans', 'Times New Roman', Times, serif;
        box-sizing: border-box;
        color: rgb(39, 37, 37);
    }

    header{
        display: none;
    }

    .home-gym-banner{
        display: none;
    }

    .subscription-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscription-card{
        width: 15rem;
        margin: 1rem 2rem;
    }

    .aside-menu{
        display: none;
    }

}