/* PT Sans */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.pt-sans{
    font-family: 'PT Sans' !important;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.m-top-10{
    margin-top: 10px;
}

.m-top-30{
    margin-top: 30px;
}

.m-right-10{
    margin-right: 10px;
}

.display-flex{
    display: flex;
}

.full-width{
    width: 1200px;
}

.three-width{
    width: 290px;
}

.four-width{
    width: 390px;
}

.five-width{
    width: 490px;
}

.half-width{
    width: 590px;
}

.seven-width{
    width: 690px;
}

.nine-width{
    width: 890px;
}

.bg-pink{
    background-color: #ffdad4;
}

.bg-green{
    background-color: #deefab;
}

.bg-yellow{
    background-color: #fefcc3;
}

.bg-blue{
    background-color: #99dbe7;
}

.bg-identica{
    background-color: #7db4c9;
}

.bg-twitter{
    background-color: #00bcff;
}

body{
    width: 1200px;
    margin: auto;
}

a {
    color: #087680;
    text-decoration: none;
}

a:hover {
    color: #02a4b3;
    text-decoration: none;
}

a:visited {
    color: #087680;
    text-decoration: none;
}

/*------------- CABECERA ---------------*/

.cabecera{
    height: 7rem;
}

.menu-principal{
    height: 7rem;
}


.menu-principal-login{
    float: right;
    padding: 1rem 0rem;
}

.option-login{
    margin-left: 2rem;
    font-weight: 900;
    font-size: 1.2rem;
}

.option-login > a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
}

.option-login > a:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
}

.menu-principal-options{
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 0rem;
}

.option-principal{
    border-radius: 0.4rem;
    font-size: 1.6rem;
    background-color: #f2f2f2;
    margin-left: 0.5rem;
    padding: 0.1rem 0.5rem;
}

.option-principal > a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
}

.option-principal > a:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
}

.subtitulo-principal{
    font-size: 2.4rem;
    font-weight: 900;
    color: #187c9c;
}


.option-secundaria{
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: #f2f2f2;
    margin-right: 0.2rem;
    padding: 0.2rem 0.6rem;
    padding-bottom: 0.4rem;
    border: 1px solid rgb(204, 204, 204);
    font-family: 'PT Sans' !important;
    position: relative;
}

.option-secundaria:hover{
    background-color: #e4e4e4;
}

.option-secundaria > a {
    font-family: 'PT Sans' !important;
    color: rgb(59, 59, 59);
}

.option-secundaria > a {
    font-family: 'PT Sans' !important;
    color: rgb(59, 59, 59);
}

.option-secundaria > a:visited {
    font-family: 'PT Sans' !important;
    color: rgb(59, 59, 59);
}

.option-secundaria > a:visited {
    font-family: 'PT Sans' !important;
    color: rgb(59, 59, 59);
}

.option-secundaria > img {
    position: absolute;
    bottom: -13px;
    z-index: 1;
    left: 50%;
    margin-left: -0.8rem;
    display: none;
}
.option-secundaria:hover > img {
    display: block;
}

.navegacion-secundaria-line{
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
    bottom: 0;
}

.seleccionar-idioma{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 0.8rem;
}

.ul-lenguajes{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px gray solid;
    border-radius: 1rem;
    overflow: hidden;
    
}

.ul-lenguajes > li{
    background-color: #f2f2f2;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
}

.ul-lenguajes > li:hover{
    box-shadow: inset 0 0 4px black; 
    cursor: pointer;   
}



/*------------- CABECERA ---------------*/

/*------------- SECTION ---------------*/

.article-program > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #36bac6;
}

.article-program-img{
    display: block;
    float: right;
}


.article-about > h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #087680;
    margin-bottom: 0;
}

.article-about > p{
    color: #8c8c8c;
    margin-top: 0;
    width: 20rem;
    text-align: left;
}

.section-post-it-introduction > h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #087680;
}

.section-post-it{
    display: flex;
    flex-wrap: wrap;
}

.post-it-wrapper{
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.post-it{
    padding: 1rem;
    box-shadow: 3px 3px 8px #888F;
}

.post-it > h4{
    margin-top: 0;
    font-family: 'PT Sans';
}

.post-it > p{
    font-size: 17px;
}

/*------------- SECTION ---------------*/

/*------------- ASIDE ---------------*/

.aside-register {
    padding: 1rem;
    background-color: #99d0ef;
    border-radius: 0.4rem;
}

.aside-register-button{
    background-color: #8dce68;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;

    box-shadow: 2px 2px 2px #7777,-1px -1px 0px #FFFF;
}

.aside-register-text{
    font-size: 0.7rem;
    padding: 0rem 0.2rem;
    text-align: center;
}

.aside-bullet-list{
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: rgb(155, 153, 153);
}

.aside-bullet{
    margin-bottom: 0.5rem;
}

/* .aside-bullet-img > img{
    height: 40px;
    width: 40px;
} */

.aside-bullet-text{
    font-size: 0.8rem;
    padding: 0.3rem;
    font-family: 'PT Sans';
}

.aside-should{
    background-color: #fefcc3;
    padding: 1rem;
    box-shadow: 3px 3px 8px #888F;
}

.aside-should > h1{
    margin: 0;
    color: red;
    font-size: 1.8rem;
    font-family: 'Georgia';
}

.aside-should-ul{
    padding-left: 1.6rem;
    list-style: url("../img/check.png");
}

.aside-should-li{
    padding-left: 1.6rem;
    list-style: url("../img/check.png");
}

.aside-rss{
    padding: 2rem;
}

.rss-label{
    border-radius: 0.4rem;
    padding: 0.1rem 0.5rem;
    margin-bottom: 1rem;
}

.rss-label-text{
    width: 8.5rem;
    padding: 0.7rem;
    text-align: center;
    color: white;
}

/*------------- ASIDE ---------------*/


/*------------- FOOTER ---------------*/

footer > h1 {
    color: #36bac6;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-info-wrapper{
    background-color: #7a7772;
}

.footer-ul{
    list-style: none;
}

.footer-ul > li{
    margin-bottom: 0.2rem;
    color: white;
}

/*------------- FOOTER ---------------*/







