/*@font-face {
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#BallparkWeiner') format('svg');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#BallparkWeiner') format('svg');

    font-weight: normal;
    font-style: normal;
}*/

* {
    font-family: Dayrom;
    box-sizing: border-box;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.m-top-10{
    margin-top: 10px;
}

.m-top-30{
    margin-top: 30px;
}

.m-right-10{
    margin-right: 10px;
}

.display-flex{
    display: flex;
}

.full-width{
    width: 1200px;
}

.three-width{
    width: 290px;
}

.four-width{
    width: 390px;
}

.five-width{
    width: 490px;
}

.half-width{
    width: 590px;
}

.seven-width{
    width: 690px;
}

.nine-width{
    width: 890px;
}

.bg-pink{
    background-color: #ffdad4;
}

.bg-green{
    background-color: #deefab;
}

.bg-yellow{
    background-color: #fefcc3;
}

.bg-blue{
    background-color: #99dbe7;
}

.bg-identica{
    background-color: #7db4c9;
}

.bg-twitter{
    background-color: #00bcff;
}

body{
    width: 1200px;
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

/*------------- CABECERA ---------------*/

.cabecera{
    height: 7rem;
}

.menu-principal{
    height: 7rem;
}


.menu-principal-login{
    float: right;
    padding: 1rem 0rem;
}

.option-login{
    margin-left: 2rem;
    font-weight: 900;
    font-size: 1.2rem;
}

.menu-principal-options{
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 0rem;
}

.option-principal{
    border-radius: 0.4rem;
    font-size: 1.4rem;
    background-color: #f2f2f2;
    margin-left: 0.5rem;
    padding: 0.1rem 0.5rem;
}

.subtitulo-principal{
    font-size: 2rem;
    color: #187c9c;
}


.option-secundaria{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #f2f2f2;
    margin-right: 0.5rem;
    padding: 0.3rem;
    padding-bottom: 0.6rem;
}


.seleccionar-idioma{
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
}

.ul-lenguajes{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px gray solid;
    border-radius: 1rem;
    overflow: hidden;
    
}

.ul-lenguajes > li{
    background-color: #f2f2f2;
    padding: 0.2rem;
    font-size: 0.8rem;
}

.ul-lenguajes > li:hover{
    box-shadow: inset 0 0 4px black; 
    cursor: pointer;   
}



/*------------- CABECERA ---------------*/


/*------------- ASIDE ---------------*/

.aside-register {
    padding: 1rem;
    background-color: #99d0ef;
    border-radius: 0.4rem;
}

.aside-register-button{
    background-color: #8dce68;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;

    box-shadow: 2px 2px 2px #7777,-1px -1px 0px #FFFF;
}

.aside-register-text{
    font-size: 0.7rem;
    padding: 0rem 0.2rem;
    text-align: center;
}

.aside-should{
    background-color: #fefcc3;
    padding: 1rem;
}

.aside-should-ul{
    padding-left: 1.6rem;
    list-style: url("../img/check.png");
}

.aside-should > h1{
    margin: 0;
    color: red;
    font-size: 1.8rem;
}

.aside-rss{
    padding: 2rem;
}

.rss-label{
    border-radius: 0.4rem;
    padding: 0.1rem 0.5rem;
    margin-bottom: 1rem;
}

.rss-label-text{
    width: 8.5rem;
    padding: 0.7rem;
    text-align: center;
    color: white;
}

/*------------- ASIDE ---------------*/



/*------------- SECTION ---------------*/

.article-program > h1{

    color: #36bac6;

}

.article-program-img{
    display: block;
    float: right;
}


.article-about > h3{
    color: #087680;
    margin-bottom: 0;
}

.article-about > p{
    color: #8c8c8c;
    margin-top: 0;
    width: 20rem;
    text-align: left;
}

.section-post-it-introduction > h3{
    color: #087680;
}

.section-post-it{
    display: flex;
    flex-wrap: wrap;
}

.post-it-wrapper{
    padding: 1.5rem;
}

.post-it{
    padding: 1rem;
}

.post-it > h4{
    margin-top: 0;
}

/*------------- SECTION ---------------*/

/*------------- FOOTER ---------------*/

.footer-info-wrapper{

    background-color: #7a7772;

}

/*------------- FOOTER ---------------*/







