@font-face {
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#BallparkWeiner') format('svg');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#BallparkWeiner') format('svg');

    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Dayrom;
}

a:hover{
    color: black;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #FEF8D8;
}

.tp-upper-case{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.option {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-right: 1rem;
}



.block-separator{
    background-image: url(images/line.png);
    height: 0.2rem;
    margin: 1rem 0rem;
    text-align: center;
}

.web {
    width: 70rem;
    margin: auto;
    /*border: 2px black solid;*/
    padding: 0.5rem;
}

.header-logo{
    display: flex;
    margin-bottom: 1rem;
}

.header-menu{
    display: flex;
}

#menu{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
}

.banner-wrapper{
    height: 16rem;
    background-image: url(images/sanfrancisco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
}

.banner-label {
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 3.5rem;
    bottom: 0;
    position: absolute;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.banner-text {
    width: 70%;
    margin: auto;
    margin-left: 1rem;
}

.banner-link {
        /* background-color: #b13c3c; */
        width: 6rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-image: linear-gradient(#b10909, #581111);
        margin: auto;
        text-align: center;
        margin-right: 1rem;
}

.tittle-logo{
    padding: 0rem;
    margin: 0rem;
    margin-top: 2rem;
    font-family: BallparkWeiner;
}

.content-wrapper{
    display: flex;
    margin-top: 2rem;
}

.section-wrapper{
    width: 70%;
}

.aside-wrapper{
    width: 30%;
    background: rgb(104 104 104);
    color: white;
    height: 28rem;
    border-radius: 1rem;
    position: relative;
}

.article-wrapper{
    margin-right: 2rem;
}

.article-header{
    text-transform: uppercase;
}

.article-text{
    text-align: justify;
}

.zozor-arrow{
    position: absolute;
    right: 21rem;
}

.titulo-articulo > img {
    width: 4rem;
    margin-right: 0.5rem;
}

.aside-rss{
    margin: auto;
    width: 76%;
}

.aside-spacing{
    padding: 1rem;
}

.header-subtittle{
    width: 50%;
    font-size: 1.3rem;
}

.titulo-articulo{
    display: flex;
}

.zozor-avatar{
    margin: auto;
    display: block;
}

.footer-wrapper{
    display: flex;
}

.footer-spacing{
    width: 30%;
}

.footer-imgs{
    display: flex;
}

.footer-imgs > img {
    border: 1px solid black;
    margin: 0rem 0.1rem;
}

.footer-enum{
    display: flex;
}

.footer-enum > ul {
    margin: 0;
}